<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link href="assests/css/style.css" rel="stylesheet" type="text/css">
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    </head>
    <body>
       <div class="weather-box">
            <div class="today-weather">
                <h1>{{.Name}}</h1>
                <p>Status</p>
                <h2 class="temperature">Temperature</h2>
                    <div class="pressure-humidity">
                        <p>Pressure: {{.Main.Pressure}} Humidity: {{.Main.Humidity}}</p>
                    </div>
                <h3 class="day">Friday Today</h2>
            </div>
            <div class="weekly-weather">
                <div class="weekly-weather-container">
                    <h3>Now</h3> 
                    <div class="icon"><i class='bx bx-cloud'></i></div>
                    <p>6°C</p>
                </div>
                <div class="weekly-weather-container">
                    <h3>Now</h3>
                    <div class="icon"><i class='bx bx-cloud'></i></div>
                    <p>6°C</p>
                </div>
                <div class="weekly-weather-container">
                    <h3>Now</h3>
                    <div class="icon"><i class='bx bx-cloud'></i></div>
                    <p>6°C</p>
                </div>
                <div class="weekly-weather-container">
                    <h3>Now</h3>
                    <div class="icon"><i class='bx bx-cloud'></i></div>
                    <p>6°C</p>
                </div>
                <div class="weekly-weather-container">
                    <h3>Now</h3>
                    <div class="icon"><i class='bx bx-cloud'></i></div>
                    <p>6°C</p>
                </div>
            </div>
            <div class="warranty-message">
                <p class="fixe-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Corrupti rerum, exercitationem qui perspiciatis ipsam totam 
                    nostrum blanditiis molestias quam aperiam doloremque pariatur 
                    repellat ex veniam consectetur ipsa iusto id aliquam.
                </p>
            </div>
       </div>
    </body>
</html>